/*Setting defaults*/

html,
body {
    font-family: 'Roboto', sans-serif;
    background: #1e1e1e;
    width: 100vw;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/*Landing Page CSS*/

#MainContainer {
    background: white;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#MainContainer div {
    color: black;
    text-transform: uppercase;
    display: block;
}

.firstText {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 500;
    background: white;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
}

.secondText {
    font-size: 25px;
    color: black;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 1px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 3px;
        margin-bottom: -40px;
    }
}


/*Read More Button*/

#ReadMore {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #00838F;
    padding: 10px 20px;
    border: #00838F 1px solid;
    border-radius: 10px;
    top: 85vh;
}

#ReadMore:hover {
    background: #0097A7;
    color: white;
}


/*Particles CSS*/

#particles-js {
    height: 100vh;
    width: 100vw;
    background: white;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


/*Page Content*/

#content h2 {
    padding: 15px;
    font-size: 40px;
}

#content p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
}

#about {
    width: 100%;
    height: 100%;
    background: #f0a30a;
    background-size: cover;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

#skills {
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items: center;
    background: white;
    color: black;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

#skills h4 {
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}

#projects {
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items: center;
    background: #333333;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

#experience {
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items: center;
    background: #4527A0;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow-y: auto;
}

#id-its {
    width: 60px;
    height: 60px;
}

#id-intellect {
    width: 60px;
    height: 60px;
}

#experience hr {
    background-color: white;
    display: block;
}

#experience .container h4 {
    margin-top: 10px;
}

#experience .container label {
    font-size: 20px;
}

#id-dateida,
#id-dateits {
    color: #9E9E9E;
}

#itsbutton:hover {
    color: #D1C4E9;
}

#idabutton:hover {
    color: #D1C4E9;
}

#certifications {
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items: center;
    background: #009688;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

#id-cer h5,
label,
p {
    color: white;
}

.logo {
    width: 60px;
    height: 60px;
}

.cerlabel {
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.license {
    border: #ffffff 1px solid;
    border-radius: 8px;
    padding: 8px 8px;
}

.buttonoverride {
    border-radius: 10px;
    background: #D81B60;
    color: white;
}

.buttonoverride:hover {
    color: white;
    background: #D81B60;
}

.buttonoverrideCarousel {
    border-radius: 10px;
    background: #ff0256;
    color: white;
}

.buttonoverrideCarousel:hover {
    color: #ff0256;
    background: white;
}

#id-cer hr {
    border-color: black;
    display: block;
}

.cerhr {
    background: white;
    width: 25%;
    padding: 1px;
    border-radius: 10px;
}

.cerow {
    padding-top: 10px;
}

#contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    background: #c0392b;
    color: white;
    text-align: center;
    word-wrap: break-word;
    overflow: auto;
}

.underText {
    background: #0e0e0e;
    height: 2px;
    width: 40%;
    border-radius: 10px;
}


/*Footer*/

.footer {
    height: 100%;
    padding: 10px;
    background: #0e0e0e;
}


/*Social Icons in footer*/

#social-icons ul {
    position: relative;
    text-align: center;
}

#social-icons ul li {
    list-style: none;
    display: inline-block;
}

#social-icons ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    margin: 10px;
    color: white;
}


/* Icon mods */

.fa-github-alt:hover {
    color: #ff0256;
    font-size: 40px;
}

.fa-facebook-f:hover {
    color: #ff0256;
    font-size: 40px;
}

.fa-linkedin-in:hover {
    color: #ff0256;
    font-size: 40px;
}

.fa-instagram:hover {
    color: #ff0256;
    font-size: 40px;
}

.fa-file {
    padding-right: 2px;
}


/* Skills icon mods */

.fa-java {
    font-size: 90px;
    opacity: 0.7;
    padding: 5px;
}

.fa-java {
    color: #E91E63;
}

.fa-js-square {
    font-size: 70px;
    opacity: 0.7;
    padding: 5px;
}

.fa-js-square {
    color: #FFA000;
}

.fa-css3-alt {
    font-size: 70px;
    opacity: 0.7;
    padding: 5px;
}

.fa-css3-alt {
    color: #1a237e;
}

.fa-html5 {
    font-size: 70px;
    opacity: 0.7;
    padding: 5px;
}

.fa-html5 {
    color: #E53935;
}

.icon-spring {
    font-size: 60px;
    opacity: 0.7;
    padding: 5px;
}

.icon-spring {
    color: #43A047;
}

.icon {
    font-size: 60px;
    opacity: 0.7;
    padding: 4px;
}

.icon-git {
    color: #ff5722;
}

.icon-apache {
    color: #b71c1c
}

.icon-tomcat {
    color: #ff8f00;
}

.icon-mongodb {
    color: #388e3c;
}

.icon-mysql-alt {
    color: #0097a7;
}

.icon-oracle {
    color: #f44336;
}

.icon-bootstrap {
    color: #4a148c;
}

.icon-cplusplus {
    padding: 0px;
    color: #1565c0;
}

.icon-c {
    color: #0d47a1;
}

.fa-android {
    padding: 0px;
    font-size: 70px;
    color: #43a047;
}

.icon-php-alt {
    padding: 0px;
    color: #651fff;
}

.fa-bitcoin {
    color: #ffa000;
}

.icon-nodejs {
    color: #7cb342;
}

.icon-jquery {
    color: #01579b;
}


/*Mail to icon*/

.fa-paper-plane {
    font-size: 70px;
    padding-bottom: 20px;
    color: #64ffda;
}

.fa-paper-plane:hover {
    font-size: 72px;
    color: white;
}

/*page up button*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.fa-caret-square-up{
    font-size: 40px;
    color: #bdbdbd;
}

.fa-caret-square-up:hover{
    font-size: 45px;
    color: #9e9e9e;
}